﻿@page
@model _15112020_ASP_FooBar_1.Pages.Bars.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bar.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bar.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Bar.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
