﻿@page "/Customer/create"
@inject MyDbContext _context
@inject NavigationManager NavigationManager


<h3>CustomerCreate</h3>

<form action="/Customer">
    <label class="col-2">Name:</label><input @bind="customer.Name" class="col-3" /><br>
    <label class="col-2">JoinDate:</label><input type="datetime"
                                                   @bind="customer.JoinDate">
    <div class="row mt-5">
        <button type="button" class="btn btn-primary" @onclick="Save">Save</button>
        <a class="btn btn-danger" href="/Pokemon">Cancel</a>
    </div>
</form>
@code {
    private Customer customer = new Customer();
    private async Task Save(MouseEventArgs e)
    {
        await _context.AddAsync(customer);
        await _context.SaveChangesAsync();
    }
}
