﻿@page "/Customer"
@inject MyDbContext c;

<h2>CustomerIndex</h2>

<a href="/Customer/create" class="glyphicon glyphicon-remove">Add</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>HasCustomerCard</th>
            <th>JoinDate</th>
            <th>Orders</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Customer p in c.Customers)
        {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.HasCustomerCard</td>
            <td>@p.JoinDate</td>
            <td>@p.Orders</td>
            <td>
                <a href="/Customer/update/@p.Id">
                    <span>Update</span>
                </a>
            </td>
            <td>
                <a href="/Customer/delete/@p.Id">
                    <span>Delete</span>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>