﻿@page "/Furniture/update/{id:int}"
@inject MyDbContext c
@inject NavigationManager NavigationManager

<h2>Update Furniture</h2>

<form action="/Furniture">
    <div class="form-group">
        <label class="col-2">Name:</label><input @bind="furniture.Collection" class="col-3" /><br>
        <label class="col-2">Price:</label><input @bind="furniture.Price" class="col-3" /><br>
    </div>
    <div class="form-group">
        <label class="col-2">Type:</label>
        <select type="type" class="col-3 form-select" @bind="@furniture.Type">
            @foreach (var item in Enum.GetValues(typeof(EFurnitureType)))
            {
                <option value="@item">@item</option>
            }
        </select><br>
    </div>
    <button type="submit" @onclick="Save" class="btn btn-primary">Submit</button>
    <a class="btn btn-danger" href="/Furniture">Cancel</a>
</form>
@code {
    private Furniture furniture;
    [Parameter]
    public int id { set { furniture = c.Furnitures.Find(value); } }
    private async Task Save(MouseEventArgs e)
    {
        await c.SaveChangesAsync();
    }
} 