﻿@page "/Furniture/create"
@inject MyDbContext _context
@inject NavigationManager NavigationManager


<h3>FurnitureCreate</h3>

<form action="/Customer">
    <label class="col-2">Name:</label><input @bind="furniture.Collection" class="col-3" /><br>
    <label class="col-2">Price:</label><input @bind="furniture.Price" class="col-3" /><br>
    <label class="col-2">Type:</label>
    <select type="type" class="col-3 form-select" @bind="@furniture.Type">
        @foreach (var item in Enum.GetValues(typeof(EFurnitureType)))
        {
            <option value="@item">@item</option>
        }
    </select><br>
    <div class="row mt-5">
        <button type="button" class="btn btn-primary" @onclick="Save">Save</button>
        <a class="btn btn-danger" href="/Pokemon">Cancel</a>
    </div>
</form>
@code {
    private Furniture furniture = new Furniture();
    private async Task Save(MouseEventArgs e)
    {
        await _context.AddAsync(furniture);
        await _context.SaveChangesAsync();
    }
}
