﻿@page "/Furniture/delete/{id:int}"
@inject MyDbContext c
@inject NavigationManager NavigationManager

<h2>Delete Furniture:</h2>

<div class="container-fluid mt-5">
    <h3 class="col-2">Id:</h3><p class="col-3">@furniture.Id</p>
    <h3 class="col-2">Price:</h3><p class="col-3">@furniture.Price</p>
    <h3 class="col-2">Type:</h3><p class="col-3">@furniture.Type</p>
    <div class="row mt-5">
        <button type="button" class="btn btn-primary" @onclick="Delete">Delete</button>
        <a class="btn btn-danger" href="/Furniture">Cancel</a>
    </div>
</div>
@code {
    private Furniture furniture;
    [Parameter]
    public int id
    {
        set
        {
            furniture = c.Furnitures.Find(value);
        }
    }
    private async Task Delete(MouseEventArgs e)
    {
        c.Remove(furniture);
        await c.SaveChangesAsync();
        NavigationManager.NavigateTo("/Furniture");
    }
} 