﻿@page "/Furniture"
@inject MyDbContext c;

<h2>FurnitureIndex</h2>

<a href="/Furniture/create" class="glyphicon glyphicon-remove">Add</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>HasCustomerCard</th>
            <th>JoinDate</th>
            <th>Orders</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Furniture p in c.Furnitures)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Price</td>
                <td>@p.Type</td>
                <td>@p.Order</td>
                <td>
                    <a href="/Furniture/update/@p.Id">
                        <span>Update</span>
                    </a>
                </td>
                <td>
                    <a href="/Furniture/delete/@p.Id">
                        <span>Delete</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>